@page "/fetchdata"
@using Avvr.Kappusta.Zoya.Application
@using Avvr.Kappusta.Zoya.WebUI.Data

<PageTitle>Accounts</PageTitle>
@inject AccountsService AccountsService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AccountResponse[]? accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await AccountsService.GetAccountsAsync();
    }
}
